@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Overlock:wght@400;700;900&display=swap');

/* Layout Wrapper */
#chicken {
    max-width: 1600px;
    margin: 0 auto;
}

/* Body */
body {
    background-color: #2f6690;
    margin: 0;
    font-family: Overlock, Helvetica, sans-serif;
    font-size: 22px;
}

/* HEADER */
header {
    background-color: #81C3D7;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}

#logo-link {
    padding: 5px;
}

.logo {
    max-width: 80px;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 40px;
}

nav a {
    color: antiquewhite;
    text-decoration: none;
    padding: 35px 20px;
}

nav a:hover {
    background-color: #2f6690;
}

/* HERO SECTION */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

.home-title {
    grid-column: 2/3;
    margin-top: 90px;
    font-family: Lacquer, Arial, sans-serif;
    font-size: 2em;
    color: antiquewhite;
}

h4 {
    grid-column: 2/3;
    color: antiquewhite;
}

/* BUTTONS */
.book,
.join {
    background-color: #2f6690;
    color: antiquewhite;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}

.book:hover,
.join:hover {
    background-color: #1d4665;
}

/* HOME GRID */
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img {
    width: 100%;
    border: 2px solid antiquewhite;
    border-radius: 5px;
}

.rivers-card {
    grid-column: 2/4;
    margin: 200px 0;
}

.camping-card {
    grid-column: 5/7;
    margin: 200px 0;
}

.rapids-card {
    grid-column: 8/10;
    margin: 200px 0;
}

/* BACKGROUND BLOCK */
#background {
    grid-column: 1/11;
    grid-row: 4/9;
    background-color: #2f6690;
    height: 700px;
}

/* MOUNTAINS */
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
}

/* MESSAGE BOX */
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    background-color: #2f6690;
    padding: 20px;
    color: antiquewhite;
}

.msg p {
    font-size: 0.9em;
}

/* FOOTER */
footer {
    background-color: #81C3D7;
    text-align: center;
    padding: 30px;
    margin-top: 200px;
}

footer a {
    color: antiquewhite;
    text-decoration: none;
}

footer .social img {
    width: 40px;
    margin: 0 10px;
}
